.app-header {
	top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1030;
}

.app-body {
	padding: 30px;
	padding-top:40px;
	width:90%;
}

.custom-menu-item {
	  cursor: pointer; 
	  color: black;
}


.menu-link {
color: black;	
}
